*{ 
    display: flex 1; 
    line-height: 1.5;
    margin: 0px;
    padding: 0px;  
}



.Odin-Recipes{ 
   
    background-color: burlywood;
    border: 20px solid #c56607; 
    color: blue;
    padding: 100px;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

<<<<<<< HEAD
ul{ 
    background-color: aqua;
    color: lightcoral; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border: 20px solid burlywood;

}

li {
    border: 20px solid blue;
    padding: 20px;
    margin: 30px;
  }

=======
img{ 

    width: 250px;
    border:solid #c56607;
    background-color: pink;
}

.Chicken-Curry{ 

    border: solid orange;

}

>>>>>>> bea6ca6b6360c6989f209e4f2e3b0ffc011918e6
