*{ 
    display: flex 1; 
    line-height: 1.5;
    margin: 0px;
    padding: 0px;  
}



.Odin-Recipes{ 
    background-color: rgb(25, 18, 232);
    border: 20px solid #c56607; 
    color: #c56607;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

img{ 

    width: 250px;
    border:solid #c56607;
    background-color: pink;
}

.Chicken-Curry{ 

    border: solid orange;

}

