*{ 
    margin: 0px;
}


.Odin-Recipes{ 
   
    background-color: burlywood;
    border: 20px solid #c56607; 
    color: blue;
    padding: 100px;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

ul{ 
    background-color: aqua;
    color: lightcoral; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border: 20px solid burlywood;

}

li {
    border: 20px solid blue;
    padding: 20px;
    margin: 30px;
  }

